<app-article-preview
  *ngFor="
    let article of listArticle?.articles
      | paginate
        : {
            id: 'article',
            itemsPerPage: '20',
            currentPage: currentPage,
            totalItems: listArticle?.articlesCount
          }
  "
  [article]="article"
></app-article-preview>

<pagination-controls
  [hidden]="isLoading"
  id="article"
  (pageChange)="pageChanged($event)"
  responsive="true"
  autoHide="true"
  previousLabel="Previous"
  nextLabel="Next"
></pagination-controls>

<div class="app-article-preview" [hidden]="!isLoading">
  Loading articles...
</div>

<div
  class="app-article-preview"
  [hidden]="isLoading || listArticle?.articles.length > 0"
>
  No articles are here... yet.
</div>
