<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form
          *ngIf="editorFormGroup$ | async as editorFormGroup"
          [formGroup]="editorFormGroup"
          (ngSubmit)="onSubmitArticle(editorFormGroup)"
          (keydown.enter)="$event.preventDefault()"
        >
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                type="text"
                placeholder="Article Title"
                [class.invalid]="
                  editorFormGroup.get('title').invalid &&
                  (editorFormGroup.get('title').dirty ||
                    editorFormGroup.get('title').touched)
                "
              />
              <div
                *ngIf="
                  editorFormGroup.get('title').invalid &&
                  editorFormGroup.get('title').errors &&
                  (editorFormGroup.get('title').dirty ||
                    editorFormGroup.get('title').touched)
                "
              >
                <small
                  class="error-messages"
                  *ngIf="editorFormGroup.get('title').hasError('required')"
                >
                  The field is required.
                </small>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                formControlName="description"
                type="text"
                placeholder="What's this article about?"
                [class.invalid]="
                  editorFormGroup.get('description').invalid &&
                  (editorFormGroup.get('description').dirty ||
                    editorFormGroup.get('description').touched)
                "
              />
              <div
                *ngIf="
                  editorFormGroup.get('description').invalid &&
                  editorFormGroup.get('description').errors &&
                  (editorFormGroup.get('description').dirty ||
                    editorFormGroup.get('description').touched)
                "
              >
                <small
                  class="error-messages"
                  *ngIf="
                    editorFormGroup.get('description').hasError('required')
                  "
                >
                  The field is required.
                </small>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                formControlName="body"
                rows="8"
                placeholder="Write your article (in markdown)"
                [class.invalid]="
                  editorFormGroup.get('body').invalid &&
                  (editorFormGroup.get('body').dirty ||
                    editorFormGroup.get('body').touched)
                "
              >
              </textarea>
              <div
                *ngIf="
                  editorFormGroup.get('body').invalid &&
                  editorFormGroup.get('body').errors &&
                  (editorFormGroup.get('body').dirty ||
                    editorFormGroup.get('body').touched)
                "
              >
                <small
                  class="error-messages"
                  *ngIf="editorFormGroup.get('body').hasError('required')"
                >
                  The field is required.
                </small>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()"
              />

              <div class="tag-list">
                <span
                  class="tag-default tag-pill"
                  *ngFor="let tag of article?.tagList"
                >
                  <i class="ion-close-round" (click)="removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>

            <button
              class="btn btn-lg pull-xs-right btn-primary"
              [disabled]="editorFormGroup.invalid"
            >
              {{ isModeUpdate ? 'Update Article' : 'Publish Article' }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
